<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>EMS - Employee Table</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>Employee Table</h1>
  <table>
      <button th:onclick="openModal()">Add Employee</button>
      <tr>
          <th>#</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th></th>
      </tr>
      <tr th:each="employee: ${employees}">
          <td th:text="${employee.id}" />
          <td th:text="${employee.name}" />
          <td th:text="${employee.email}" />
          <td th:text="${employee.phone_number}" />
          <td>
              <button>Edit</button>
              <button th:onclick="deleteEmployee([[${employee.id}]])">Delete</button>
          </td>
      </tr>
  </table>
    <div id="add_modal" class="modal">
        <div class="modal_content">
            <b>Add Employee</b>
            <form action="#" name="add_employee_form">
                <label for="name">Name:</label><br>
                <input type="text" id="name" name="name" value=""><br>
                <label for="email">Email</label><br>
                <input type="text" id="email" name="email" value=""><br>
                <label for="phone_number">Phone number</label><br>
                <input type="text" id="phone_number" name="phone_number" value=""><br>
                <br>
                <button type="button" onclick="addEmployee()">Submit</button>
            </form>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="table.js"></script>
</html>